*{
    margin: 0;
    padding: 0;
}   
section{
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 23.5px 115.5px
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sub-bars ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap:24px;
    
}
.buttons button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.banner-section{
    position: relative;
}
.banner img{
    display: block;
    width: 100%;
}
.banner-text h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-text h4{
    font-size: 24px;
    margin-bottom: 30px;
}
.banner-text button{
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}
.meet h1{
    text-align: center;
    justify-content: center;
    color:black;
}
.first-row{
    display:flex;
    gap: 50px;
    
}
.speaker1,.speaker2{
    border-radius: 10px;
}
.second-row{
    display:flex;
    gap: 50px;
}
.speaker3,.speaker4{
    border-radius: 10px;
}